body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

.blink-text {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
